<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Workflow.Properties.Settings.PRODUCTIONConnectionString"
            connectionString="Data Source=ATI-SQL;Initial Catalog=PRODUCTION;User ID=jbread;Password=Cloudy2Day"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>